<div class='single_question' id='<%= question.id %>'>
  <div class='question-link' >
    <a  href="/surveys/<%= survey.id %>/questions/<%= question.id %>"><%= question.body %></a>
  </div>
  <div id="all_choices_<%=question.id%>">
    <% if question.choices %>
      <% question.choices.each do |c|  %>
        <%= erb :'choices/_show-single-choices', locals: {choice: c, survey: survey, question: question}  %>
      <% end %>
    <% end %>
  </div>
  <div class="add_new_choice">
    <div class="choice_<%= question.id %> choice">

    </div>
  </div>
  <div>
    <a class="add_choice btn-2 btn:hover" href="/surveys/<%= survey.id %>/questions/<%= question.id %>/choices/new">Add new answer</a>
  </div>
  <br>
</div>
