<div class='single_question' id='<%= question.id %>'>
  <div>
    <a href="/surveys/<%= survey.id %>/questions/<%= question.id %>"><%= question.body %></a>
  </div>
  <div class="all_choices">
    <% if question.choices %>
      <% question.choices.each do |c|  %>
        <%= erb :'choices/_show-single-choices', locals: {choice: c, survey: survey, question: question}  %>
      <% end %>
    <% end %>
  </div>
  <div class="choice">

  </div>
  <div>
    <a class="add_choice" href="/surveys/<%= survey.id %>/questions/<%= question.id %>/choices/new">Add new answer</a>
  </div>
  <br>
</div>