<div class='container'>
  <div>Question: <%=question.body%></div>
  <div><a href ="/surveys/<%=survey.id%>/questions/<%=question.id%>/edit">Edit Question</a></div>
  <br>
  <div><a href="/surveys/<%= survey.id %>/questions/<%= question.id %>/choices/new">Add Choice</a></div>
</div>
