<div class='single_question' id='<%= question.id %>'>
  <div>Question: <%=question.body%></div>
  <div class="all_choices_<%=question.id%>">
    <div>
      <% if choices %>
        <% choices.each do |c| %>
          <%= erb :'/choices/_show-single-choices', locals:{choice: c, survey: survey, question: question} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div><a href ="/surveys/<%=survey.id%>/questions/<%=question.id%>/edit">Edit Question</a></div>
  <br>
  <div class="add_new_choice">
    <div class="choice_<%= question.id %> choice">

    </div>
  </div>
  <div>
    <a class="add_choice" href="/surveys/<%= survey.id %>/questions/<%= question.id %>/choices/new">Add Possible Answer</a>
  </div>
  <div><a href="/surveys/<%= survey.id %>">Back to Survey</a></div>
</div>
